.example-spacer {
  flex: 1 1 auto;
}

.value-higher {
  background-color: wheat; /* Cor de fundo para valores altos */
  color: black;
}

.edit-button {
  color: darkblue; /* Defina a cor do texto como branco ou outra cor de texto que você preferir */
}

.delete-button {
  color: crimson; /* Defina a cor do texto como branco ou outra cor de texto que você preferir */
}